/********** Base styles **********/
body {
  font-size: 16px;
  background-color: #B2AEAE;
  font-family: 'Arial';
}

/** HEADER **/
#header-nav {
  background-color: #78f6d6;
  border-radius: 0;
  border: 1px solid #000;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Header name */
  font-family: 'Arial', sans-serif;
  color: #000;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 3px 3px 3px #E8DADA;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}








#collapsable-nav {
  padding:0;
}
#nav-list {
  margin: 0;
  background: #fff;
}
#nav-list a {
  color: #000;
  text-align: center;
}
#nav-list a:hover {
  background: #F6A179;
}
#nav-list a span {
  font-size: 1.8em;
}
#nav-list li:nth-child(1){
  border-bottom: 1px solid #000;
}
#nav-list li:nth-child(2){
  border-bottom: 1px solid #000;
}

/** MAIN **/
h1 {
  font-family: 'Arial';
  color: #000;
  font-size: 1.6em;
  font-weight: bold;
}

#main-content.container {
  padding: 0;
}
#main-content h2 {
  font-size: 18px;
}
#main-content > .row {
  margin: 0;
  width: 100%;
  background-color:yellow;
  height: 900px;
  border: 1px solid #000;
}




